* {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav {
            padding: 20px;
            background-color: #424c5a;
}              
.menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 100px;
            margin-right: 100px;  
}
.links {
           display: flex;
           align-items: center;
            font-size: 18px;
            color: #e5e7eb;
}
.headerlogo.img {
          width: 200px;
          height: 50px;
}
.headerlink {
            color: #e5e7eb;
            font-size: 18px;
            margin-left: 10px;
            margin-right: 10px;
}
.heromain {
            font-size: 48px;
            font-weight: bold;
            color: #F9FAF8;
}
.img {
            max-width: 100%;
            max-height: 100%;
}

















.register       {
            background-color: #424c5a;

}

.signup         {
            background-color: #3882F6;
            color: #F9FAF8;
            



}

















.footer         {
            text-align: center;
            background-color: #424c5a;
            color: #F9FAF8;
            font-size: 18px ;
            padding:  20px;
            font-family: roboto;
}